
/* 1024-1200 */
@media only screen and (max-width: 1200px) {
    
    .row { padding: 0 2%;}
    
    .row { width: 100%; }
    
    .skills img { margin: 0 8px; }
    
    .line-box { margin: 0 auto; }
}

/* 768-1023 */
@media only screen and (max-width: 1023px) {
    
    section { padding: 40px 0; }
    
    body, html { font-size: 18px; }
    
    .project-des img { width: 100px; }
    
    .photo-me { width: 180px; }
    
    .skills img {
        max-width: 200px;
        height: 112px;
        margin: 15px 20px;
    }
    
    .col-center {
        margin: 0 auto;
        float: none;
    }
    .mission { text-align: center; }
    .social-media li{
        float: none;
        display: inline-block;
        
    }
    .social-media {
        margin: 0;
        text-align: center;
    }
    .social-media li:first-child { margin-left: 0; }
    
    .title { font-size: 110%; }
    
    .source a {
        float: none;
        margin: 5px auto;
    }
    
    .pitch-text-box { width: 60%; }
    
    #timeline { display: block; }

    .about-col {
        float: none;
        margin: 0 auto;
    }
    .h1Mid { top: 55%; }
    
    #primary {
        bottom: 7%;
        left: 2%;
    }

    #high {
        bottom: 29%;
        left: -35%;
    }

    #uni {
        bottom: 23%;
        left: 24.5%;
    }

    #resident {
        bottom: 45%;
        left: -27%;
    }

    #compliance {
        bottom: 38.5%;
        right: 0%;
    }

    #htmlcss {
        bottom: 60%;
        left: -25%;
    }

    #FCC {
        bottom: 54%;
        right: -17%;
    }

    #weird {
        bottom: 75.5%;
        left: -24%;
    }
    
    .line-box { margin: 5px auto; }
    
    .about { margin: 5px auto; }
}
/* 481-767 */
@media only screen and (max-width: 767px) {
    
    #scale { -webkit-transform:scale(.8); transform:scale(.8); }
    
    #primary {
        bottom: 8.5%;
        left: 2%;
    }

    #high {
        bottom: 29%;
        left: -31%;
    }

    #uni {
        bottom: 24.5%;
        left: 24.5%;
    }

    #resident {
        bottom: 44.5%;
        left: -21%;
    }

    #compliance {
        bottom: 39.5%;
        right: 5%;
    }

    #htmlcss {
        bottom: 60%;
        left: -17%;
    }

    #FCC {
        bottom: 55%;
        right: -12.5%;
    }

    #weird {
        bottom: 75.5%;
        left: -14%;
    }
    
    .pitch-text-box { width: 80%; }
    
    body, html { font-size: 16px; }
    
    .photo-me { width: 140px; }
    
    .title { font-size: 120%; }
    
    .about { margin: 5px auto; }
    
    .line-box { margin: 0 auto; }
    
    #future { font-size: 200%; }
    
    .contact h2 {
        text-align: left;
        margin-left: 40px;
    }
    
    .contact-form input[type="submit"] { 
        width: 150px; 
        margin-bottom: 15px;
    }
    
    .FCC-box {
        text-align: left;
        margin: 10px auto;
    }
    
}
/* 0-500 */
@media only screen and (max-width: 500px) {
    
    #scale { -webkit-transform:scale(.6); transform:scale(.6); }
    
    #primary {
        bottom: 8.5%;
        left: 2%;
    }

    #high {
        bottom: 29%;
        left: -34.5%;
    }

    #uni {
        bottom: 24.5%;
        left: 27%;
    }

    #resident {
        bottom: 44.5%;
        left: -24%;
    }

    #compliance {
        bottom: 39.5%;
        right: -6%;
    }

    #htmlcss {
        bottom: 60%;
        left: -19%;
    }

    #FCC {
        bottom: 55%;
        right: -26%;
    }

    #weird {
        bottom: 75.5%;
        left: -16%;
    }

    .main-nav,
    .project-des img {
       display: none; 
    }
    
    .title:link,
    .title:visited {
        left: 10%;
}

}

